/bin/
WS-Galaxian/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
WS-Galaxian/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
WS-Galaxian/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
WS-Galaxian/.metadata/.mylyn/tasks.xml.zip
WS-Galaxian/.metadata/.mylyn/repositories.xml.zip
WS-Galaxian/.metadata/.mylyn/.tasks.xml.zip
WS-Galaxian/.metadata/.mylyn/.taskListIndex/write.lock
WS-Galaxian/.metadata/.mylyn/.taskListIndex/segments_1
WS-Galaxian/.metadata/.log
WS-Galaxian/.metadata/.lock
WS-Galaxian/src/Logica/Inteligencia.java
WS-Galaxian/src/Logica/Arma.java
WS-Galaxian/.metadata/version.ini
WS-Galaxian/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
WS-Galaxian/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
WS-Galaxian/.metadata/.plugins/org.eclipse.ui.intro/introstate
WS-Galaxian/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
WS-Galaxian/.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
WS-Galaxian/.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
WS-Galaxian/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.8.2.20171007-0217.xml
WS-Galaxian/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
WS-Galaxian/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
WS-Galaxian/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
WS-Galaxian/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
WS-Galaxian/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
WS-Galaxian/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
WS-Galaxian/.metadata/.plugins/org.eclipse.jdt.core/index.db
WS-Galaxian/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
WS-Galaxian/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
WS-Galaxian/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json
WS-Galaxian/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/write.lock
WS-Galaxian/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/segments_1
WS-Galaxian/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/_0.si
WS-Galaxian/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/_0.cfs
WS-Galaxian/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/_0.cfe
WS-Galaxian/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache.lucene60/write.lock
WS-Galaxian/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache.lucene60/segments_1
WS-Galaxian/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
WS-Galaxian/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
WS-Galaxian/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
WS-Galaxian/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
WS-Galaxian/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
WS-Galaxian/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
WS-Galaxian/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
WS-Galaxian/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
WS-Galaxian/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
WS-Galaxian/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
WS-Galaxian/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
WS-Galaxian/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.logging.aeri.ide.prefs
WS-Galaxian/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
WS-Galaxian/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
WS-Galaxian/.metadata/.plugins/org.eclipse.core.resources/.root/4.tree
WS-Galaxian/src/Logica/Intermedia.java
